@use '../util';

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: util.em(20);


    @include util.breakpoint(large) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }
    @include util.breakpoint(medium) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }
}

.grid__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 1rem;

    @include util.breakpoint(large) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    @include util.breakpoint(medium) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}
.main__card {
    display: flex;
    flex-direction: column;

    @include util.breakpoint(large) {
        display: flex;
        flex-direction: row;
    }
    @include util.breakpoint(medium) {
        display: flex;
        flex-direction: row;
    }
}

.card {
    display: flex;
    gap: 1rem;
}