@use '../util' as u;


h1 {
    font-weight: 800;
    margin-top: 0;
    line-height: 1;
    margin-top: 0;
}
h2, h3, h4 {
    font-weight: 700;
    margin-top: 0;
    line-height: 1;
    margin-top: 0;
}

h1 {
    font-size: clamp(u.rem(35), u.rem(16) + 2vw, u.rem(60));
}
h2 {
    font-size: clamp(u.rem(18), u.rem(16) + 2vw, u.rem(40));
}
h4 {
    font-size: clamp(u.rem(8), u.rem(14) + 2vw, u.rem(18));
}
p {
    font-size: u.rem(13);
    color: var(--Dark-grayish-blue);
}


